

/* Give your page a fun background color */

body {
    background-color:  #A6D0DD;
}

/* Make the header and footer a different color from the background */
footer {
    background-color:  #FFEEAD;
    text-align: center;
    border-radius: 75%;
}
header {
    background-color: #FFEEAD;
    color: #D9534F;
    border-radius: 75%;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: #D9534F;
    font-style: italic;
}

/* Put a border around your image */
img {
    border: black;
    background-color: #FFEEAD;
    border-style:groove;
    border-radius: 25%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Change the font-family of your list */
ol {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: #D9534F;
    
}
li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}